
body {
  font-family: Verdana, sans-serif;
  background-image: radial-gradient(#2f4f4f,#000000);

}
.banner {
  text-align: center;
}
h1{
  text-align: center;
  color: white;
}
.para1{
  float: left;
  width: 33.3%;
  height: 300px;
  border-radius: 0 5em 5em 5em;
  box-shadow: 1em 1em 1em #4c4f4d;
}

.icon i {
  color: #3498db;
  padding-left: 5.7em;
  font-size: 35px;

}
.para1 h2  {
  text-align: center;
    color: white;

}
.para1 p {
  text-align: center;
  font-size: 20px;
    color: white;
}




@media only screen and (min-width: 860px){


  nav{
    display: inline;

  }
  nav li{
    display: inline;
    font-size: 1.5em;
    padding-left: 20px;

  }
  nav li a{
    color: #ffffff;
    text-decoration: none;
  }


>>>>>>> d7aeba6b89f48d13f8692cdc47ba253eaf403257
}
