.photo {

  border-radius: 2em 2em;
  width: 29%;


  float: left;
  margin-left: 5%;
  margin-top: 5%;

}
body{
  background-image: radial-gradient(#e9967a, #ffa07a, #87ceeb, #4682b4);
}
.photo img {
  height: 100%;
  width: 100%;

}
.info {
  background-color: HoneyDew;
  border-radius: 2em 2em;
  float: right;
  margin: 0 1.5%;
  width: 59%;
  margin-top: 2%
}
.info p {
  margin-left: 2em;
}
article h3 {
  text-align: center;
}
.heading {

  height: 100px;
  margin-top: 5%;

}
.heading h2{
  margin-left: 10px;

}
.heading p {
  margin-left: 10px;
  font-size: 20px;
  
}
@media only screen and (min-width: 860px){

  .navigationhotel{
    margin-top: 2%;
  }
  img{
    width: 100%;

  }


  nav{
    display: inline;


  }
  nav li{
    float: right;
    display: inline;
    margin-right: 2%;
    font-size: 1.5em;
    padding-left: 20px;

  }
  nav li a{
    color: #ffffff;
    text-decoration: none;
  }

  .heading{
    position: absolute;
    top: 2%;
    left: 30%;

    opacity: 80%;
  }


}
